[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# mist

[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
match_indent = true
pattern = '''elseif card.config.center.set == 'Spectral' then  G.GAME.consumeable_usage_total.spectral = G.GAME.consumeable_usage_total.spectral + 1'''
position = "after"
payload = '''
elseif card.config.center.set == 'Ephemeral' then G.GAME.consumeable_usage_total.ephemeral = G.GAME.consumeable_usage_total.ephemeral + 1
'''

[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
match_indent = true
pattern = '''G.GAME.consumeable_usage_total = G.GAME.consumeable_usage_total or {tarot = 0, planet = 0, spectral = 0, tarot_planet = 0, all = 0}'''
position = "after"
payload = '''
if not G.GAME.consumeable_usage_total.ephemeral then G.GAME.consumeable_usage_total.ephemeral = 0 end
'''

# taxman

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
match_indent = true
pattern = '''ease_dollars(G.GAME.current_round.dollars)'''
position = "after"
payload = '''
SMODS.calculate_context{cashed_out = true, cashout_dollars = G.GAME.current_round.dollars}
'''

# money laundering

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
match_indent = true
pattern = '''local dollar_UI = G.HUD:get_UIE_by_ID('dollar_text_UI')
    mod = mod or 0'''
position = "after"
payload = '''
if SMODS.find_card('j_gb_money_laundering') and mod > 0 then
    mod = math.min(10, mod * 2)
end
'''